
.box-login {
    margin: 30px;
    padding: 30px;
  }

  .btn-login {
    font-weight: bold;
    margin-left: 68%;

    width: 150px;
  }
  .form-conta input{
    width: 30%;      
  }
  
  .form-valor input{
    width: 30%;
    margin-left: 330px;
    margin-top: -37px;      
  }
  
  h1{
    text-align: center;
  }
  
  .creditado{
    
    width: 30%;
    border: 2px solid red;
    text-align: center;
  }
  
  .debitado{
    margin: auto;
    width: 30%;
    border: 2px solid blue;
    text-align: center;
  }
  
  .extrato li{
    list-style: none;
  }
  
  table, th, td {
    text-align: center;
    
    list-style: none;
    margin-left: 10%;
  }
  th, td {
    text-align: center;

  
  }
  th {
    text-align: center;
    margin: auto;
    color: #17a2b8;
  }
  .voltar{
      margin: 10px;
      text-align: right;
  }
  
  
  