<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 30px;">
    <div class="logo">
        <a routerLink=""><img src="assets/logobank.png"></a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">


        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="margin-right:30px;" data-toggle="dropdown" id="navDrop">
                    Victor
                </a>
                <div class="saldo" style="margin-right:30px">
                    Saldo: R$150,00
                </div>
                <div class="dropdown-content">
                    <a class="dropdown-item" href="#">Perfil</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="cadastro">sair</a>
                </div>
            </li>
        </ul>
    </div>
</nav>


<div class="teste text-white bg-info mb-3" style="max-width: 30rem;
        margin-left: 32%;">
    <div class="card-header" style="text-align: center">
        <h3>Perfil</h3>
    </div>

    <h4 class="card-title" style="text-align: center">Suas Informações</h4>

    <div class="panel-body inf-content" style="margin-left: 80px;">
        <div class="row">



        </div>






        <table class="table table-condensed table-responsive table-user-information">
            <tbody>
                <tr>
                    <td>
                        <strong>

                            Nome:
                        </strong>
                    </td>
                    <td class="t">
                        Nome do cliente
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>

                            CPF:
                        </strong>
                    </td>
                    <td class="t">
                        123.456.789-02
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>

                            Telefone:
                        </strong>
                    </td>
                    <td class="t">
                        (43) 9 1234 5678
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>

                            Telefone:
                        </strong>
                    </td>
                    <td class="t">
                        (43) 9 1234 5678
                    </td>
                </tr>


            </tbody>
        </table>







    </div>