<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 30px;">
    <div class="logo">
        <a routerLink=""><img src="assets/logobank.png"></a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="margin-right:30px;" data-toggle="dropdown" id="navDrop">
                    {{clienteGeral.nomeCliente}}
                </a>
                <div class="saldo" style="margin-right:30px">
                    Saldo: R${{conta.saldoConta}}
                </div>
                <div class="dropdown-content">
                    <a class="dropdown-item" href="/perfil">Perfil</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="">sair</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="teste text-white bg-info mb-3" style="max-width: 30rem;
        margin-left: 32%;">
    <div class="card-header" style="text-align: center">
        <h3>Perfil</h3>
    </div>

    <h4 class="card-title" style="text-align: center">Suas Informações</h4>

    <div class="panel-body inf-content" style="margin-left: 80px;">
        <div class="row">

        </div>

        <table class="table table-condensed table-responsive table-user-information" style="margin-left: 0px">
            <tbody>
                <tr>
                    <td>
                        <strong>
                            Nome:
                        </strong>
                    </td>
                    <td class="t">
                        teste teste teste
                        {{clienteGeral.nomeCliente}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            CPF:
                        </strong>
                    </td>
                    <td class="t">
                        000.000.000-00
                        {{clienteGeral.cpfCliente}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            Conta:
                        </strong>
                    </td>
                    <td class="t">
                        0000000000000000000
                        {{clienteGeral.numConta}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>