<div class="container" style="margin-top: 0px">
     
  <div class="voltar" >
      <button class="btn btn-outline-dark" routerLink="/cliente"> Voltar a conta</button>
  </div>
    <div class=" card text-white bg-info mb-3 left"> 
        <h3>Poupança</h3>
        
        <form (ngSubmit) = "criarInvestimento('Poupanca',poupanca)">
            
            <label>Quanto você quer investir &nbsp;</label>
           
            <div class="input-group mb-3">
                    <div class="input-group-prepend" >
                      <span class="input-group-text">R$</span>
                    </div>
                    <input type="number" class="form-control" name="poupanca" [(ngModel)]="poupanca">
                    <div class="input-group-append">
                      <span class="input-group-text "></span>
             
                      
                    </div>
                    
                  </div>
                 
               <input type="submit" id="" value="Investir" class="btn btn-light" style="width: 120px;">
        </form>
    </div>
    <div class="card text-white bg-info mb-3 left">
        <h3>CDI</h3>

        <form (ngSubmit) = "criarInvestimento('cdi',cdi)">
                <label>Quanto você quer investir </label>
                
                <div class="input-group mb-3">
                        <div class="input-group-prepend" >
                          <span class="input-group-text">R$</span>
                        </div>
                        <input type="number" class="form-control" name="cdi" [(ngModel)]="cdi">
                        <div class="input-group-append">
                          <span class="input-group-text " ></span>
                 
                          
                        </div>
                        
                      </div>
                      
                      
                        <input type="submit" name="" id="" value="Investir" class="btn btn-light" style="width: 120px;">
            </form>
    </div>
    <div class="card text-white bg-info mb-3 left">
        <h3>IPCA</h3>
        <form (ngSubmit) = "criarInvestimento('ipca',ipca)">
                <label>Quanto você quer investir &nbsp;</label>
                
                <div class="input-group mb-3">
                        <div class="input-group-prepend" >
                          <span class="input-group-text">R$</span>
                        </div>
                        <input type="number" class="form-control" name="ipca" [(ngModel)]="ipca">
                        <div class="input-group-append">
                          <span class="input-group-text " > &nbsp;&nbsp;</span>
                 
                          
                        </div>
                        
                      </div>
                     
                        <input type="submit" name="" id="" value="Investir" class="btn btn-light" style="width: 120px;">
            </form>
    </div>
    <div class="clear"></div>
    
    
</div>

<!--
<div class="container">
  <li *ngFor = "let lista of listInvest">
    {{lista.saldo}} <button class="btn btn-info" (click)="devolverDinheiro(lista)">Retirar investimento</button>
  </li>
</div>
-->
<table style="width:80%">

  <tr>
    <th>Investimeto</th>
    
  </tr>
  <tr>
    <td><li *ngFor = "let lista of listInvest">{{lista.nomeInvestimento}}: R${{lista.saldo}} <br><button class="btn btn-info" (click)="devolverDinheiro(lista)">Retirar investimento</button>
    </li>
    </td>
    
  </tr>
 
</table>

