.investimento {
    border: 2px solid;
    margin: 50px 0;
}

.investimento input [type=submit]{
    margin: 10px 30px;
}


.poupanca{
    border: 2px solid ;
    width: 33.3%;
    height: 200px;
    text-align: center;
    padding: 0 10px;
}

.cdi{
    border: 2px solid ;
    width: 33.3%;
    height: 200px;
    text-align: center;
    padding: 0 10px;
}

.ipca{
    border: 2px solid ;
    width: 33.3%;
    height: 200px;
    text-align: center;
    padding: 0 10px;
}

.img{
    width: 30%;
}

.btn-success{
    border: 1px solid green;
    width: 120px; margin: 20px 10px;
}

.card{
    margin: 10px 15px;
    text-align: center;
}

.btn-light{
    border: 1px solid rgba(0, 0, 0, .6);
}