<div class="investimento">
     
    <div class="poupanca left"> 
        <h3>Poupança</h3>
        
        <form action="" >
            
            <label>Quanto você quer investir &nbsp;</label>
           
            <div class="input-group mb-3">
                    <div class="input-group-prepend" >
                      <span class="input-group-text">R$</span>
                    </div>
                    <input type="number" class="form-control" >
                    <div class="input-group-append">
                      <span class="input-group-text " >.00</span>
             
                      
                    </div>
                    
                  </div>
                  <input type="date" name="" value="Até quando" id="">
                  <br>
            <input type="submit" name="" id="" value="Simular" class="btn btn-success" style="width: 120px;"> &nbsp;
            <input type="submit" name="" id="" value="Investir" class="btn btn-info" style="width: 120px;">
        </form>
    </div>
    <div class="cdi left">
        <h3>CDI</h3>

        <form action="">
                <label>Quanto você quer investir &nbsp;</label>
                
                <div class="input-group mb-3">
                        <div class="input-group-prepend" >
                          <span class="input-group-text">R$</span>
                        </div>
                        <input type="number" class="form-control" >
                        <div class="input-group-append">
                          <span class="input-group-text " >.00</span>
                 
                          
                        </div>
                        
                      </div>
                      <input type="date" name="" value="Até quando" id="">
                      <br>
                <input type="submit" name="" id="" value="Simular" class="btn btn-success" style="width: 120px;"> &nbsp;
                <input type="submit" name="" id="" value="Investir" class="btn btn-info" style="width: 120px;">
            </form>
    </div>
    <div class="ipca right">
        <h3>IPCA</h3>
        <form action="">
                <label>Quanto você quer investir &nbsp;</label>
                
                <div class="input-group mb-3">
                        <div class="input-group-prepend" >
                          <span class="input-group-text">R$</span>
                        </div>
                        <input type="number" class="form-control" >
                        <div class="input-group-append">
                          <span class="input-group-text " >.00</span>
                 
                          
                        </div>
                        
                      </div>
                      <input type="date" name="" value="Até quando" id="">
                      <br>
                <input type="submit" name="" id="" value="Simular" class="btn btn-success" style="width: 120px;"> &nbsp;
                <input type="submit" name="" id="" value="Investir" class="btn btn-info" style="width: 120px;">
            </form>
    </div>
    <div class="clear"></div>
    
</div>