<app-nav-loguin></app-nav-loguin>
<div class="container">
<div class="voltar">
    <button class="btn btn-outline-dark" routerLink="/cliente"> Voltar a conta</button>
</div>
</div>
<div class="teste text-white bg-info mb-3" style="max-width: 30rem;
        margin-left: 32%;">
        
    <div class="card-header" style="text-align: center">
        <h3>Perfil</h3>
    </div>

    <h4 class="card-title" style="text-align: center">Suas Informações</h4>

    <div class="panel-body inf-content" style="margin-left: 80px;">
        <div class="row">

        </div>

        <table class="table table-condensed table-responsive table-user-information" style="margin-left: 0px">
            <tbody>
                <tr>
                    <td>
                        <strong>
                            Nome:
                        </strong>
                    </td>
                    <td class="t">
                        {{clienteGeral.nomeCliente}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            CPF:
                        </strong>
                    </td>
                    <td class="t">
                        
                        {{clienteGeral.cpfCliente}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            Conta:
                        </strong>
                    </td>
                    <td class="t">
                        
                        {{conta.numConta}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
