.btn-home-cadastro-clientes {
    position: absolute !important;
    top: 390px;
    padding: 20px;
    font-size: 25px;
    width: 40%;
    background: #000;
    color: #fff;
    border: 2px solid;
}
.box-cadastro {
    margin: 30px;
    padding: 30px;
    }
    .cadastro {
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ddd;
    border-radius: 0;
    outline: none;
    height: 50px;
    width: 30%;
    display: block;
    margin: 0 auto;
    }
    .btn-cadastro {
    border-radius: 10px;
    width: 30%;
    display: block;
    margin: 0 auto;
    padding: 10px;
    background-color: #d6d6d6;
    font-weight: bold;
    }
    .container-acesso{
        width: 10%;
        margin-left: 45%;
    }