<div class="container">
    <div class="row box-login">
        <div class="col-12">
            <p class="text-center alert alert-danger" id="mensagem" [ngClass]="{'class': true}" *ngIf="msg != null">{{msg}}</p>
                <h1>Acessar sua conta </h1>
            <form class="mt-5" (ngSubmit)="entrar()">
                
                <div class="form-group">
                    <input type="text" class="form-control login" maxlength="14" placeholder="CPF" mask='000.000.000-00' name="cpfCliente" [(ngModel)]="cliente.cpfCliente">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control login" id="exampleInputPassword1" placeholder="Senha" [(ngModel)]="cliente.password" name="password">
                </div>
                <button type="submit" class="btn btn-login btn-info">Login</button> 
                <br>
                <br>
            </form>
        </div>
    </div>
</div>