<div class="container">
        <div class="voltar" >
                <button class="btn btn-outline-dark" routerLink="/cliente"> Voltar a conta</button>
            </div>
    <div class="row box-login">
        <div class="col-12">
            <p *ngIf="msg != null">{{msg}}</p>
            <p class="text-center alert alert-danger" id="mensagem" [ngClass]="{'class': true}" *ngIf="msg != null">{{msg}}</p>
                <h1>Emprestimo</h1>
            <form class="mt-5" (ngSubmit)="entrar()" style="margin-left: 50px;">               
                <div class="form-valor">
                    <input type="value" class="form-control Transferencia" name="calorCliente" style="margin-left: 290px" placeholder="Valor" [(ngModel)]="credito.valorSaldo">
                </div>       
            </form>
        </div>     
    </div>
    <div>
        <button type="submit" (click)="queroDinheiro()" class="btn btn-login btn-info">Solicitar Emprestimo</button>
    </div>
</div>

