<div>
    <div class="header">
        <div class="logo">
            <a routerLink=""><img src="assets/logobank.png"></a>
        </div> <!-- logo-->

        <div>
            <button class="acesso right btn btn-info" type="submit" routerLink="/login"> Acesse sua conta
            </button>
        </div> <!-- acesso-->

        <div>

            <button class="criar right btn btn-info " routerLink="/cadastro"> Abra sua conta</button>
        </div> <!-- criar-->


        <div class="clear"></div>
    </div> <!-- header-->
</div>