<div class="container">
    <div class="row box-cadastro">
        <div class="col-12">
                <h1>Você está a um passo de criar sua conta RestBank</h1>
            <form class="mt-5" (ngSubmit) = "createClient">
                <div class="form-group">
                    <input type="text" class="form-control cadastro" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="cliente.nomeCliente" placeholder="Nome">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control cadastro" maxlength="14" placeholder="CPF" data-inputmask="'mask': '999.999.999-99'" [(ngModel)]="cliente.cpfCliente">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control cadastro" id="exampleInputPassword1" placeholder="Senha" [(ngModel)]="cliente.password">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control cadastro" id="exampleInputPassword1" placeholder="Confirme sua senha">
                </div>
                <button type="submit" class="btn btn-cadastro btn-info">Cadastrar</button>
            </form>
        </div>
    </div>
</div>