<app-nav-loguin></app-nav-loguin>
<div class="container" style="margin: auto">
    <div class="card text-white bg-info mb-3 left" style="margin-right: 20px; ">

        <div class="card-body " style="text-align: center">
            <h5 class="card-title">Depósito</h5>
            <p class="card-text">Faça um depósito em sua conta corrente</p>
            <button  type="button" class="btn btn-light" (click)="chamaSal()" style="width: 100%" >Acessar</button>
        </div>
    </div>

    <div class="card text-white bg-info mb-3 left" style="margin-right: 20px; ">
        <div class="card-body" style="text-align: center">
            <h5 class="card-title" style="text-align: center">Emprestimo</h5>
            <p class="card-text">Verifique seu emprestimo pré aprovado</p>
            <button  type="button" class="btn btn-light" (click)="chamaEmpr()" style="width: 100%" >Acessar</button>
        </div>
    </div>

    <div class="card text-white bg-info mb-3 left" style="margin-right: 20px; ">
        <div class="card-body" style="text-align: center">
            <h5 class="card-title" style="text-align: center">Investimento</h5>
            <p class="card-text">Verifique seu emprestimo pré aprovado</p>
            <button  type="button" class="btn btn-light" (click)="chamaInv()" style="width: 100%" >Acessar</button>
        </div>
    </div>

    <div class="card text-white bg-info mb-3 left" style="margin-right: 20px; width: 20.5rem; ">
        <div class="card-body" style="text-align: center">
            <h5 class="card-title" style="text-align: center">Transferência</h5>
            <p class="card-text">Verifique seu emprestimo pré aprovado</p>
            <button  type="button" class="btn btn-light" (click)="chamaTran()" style="width: 100%" >Acessar</button>
        </div>
    </div>

    <div class="clear"></div>
</div>